<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="<?php $this->inlineScript()->prependFile($this->baseUrl('vendor/jquery/jquery-1.12.4.min.js'));?>"></script>
<script src="<?php $this->inlineScript()->appendFile($this->baseUrl('vendor/jgrowl/js/jquery.jgrowl.min.js'));?>"></script>
<script src="<?php $this->inlineScript()->appendFile($this->baseUrl('vendor/bootstrap/3.3.6/js/bootstrap.min.js'));?>"></script>
<script src="<?php $this->inlineScript()->appendFile($this->baseUrl('vendor/wss/js/wss_main.js'));?>"></script>

<?php echo $this->inlineScript(); ?>

<?php echo $this->HeadScript(); ?>


<script type="text/javascript">

    $(document).ready(function()
    {
        // общий
        $('head').data('site_url', '<?php echo $this->JsEscape($this->baseUrl()); ?>');

        $(function()
        {
            $('[data-toggle="popover"]').popover()
        });
    });
</script>