<!DOCTYPE html>
<html lang="en">
<?php echo $this->partial('site/bootstrap-layout-head.phtml', array()); ?>

<body role="document">
    <noscript>
        <div style="position:fixed; top:0; width:100%; height:100%; z-index:10000000; background-color:white;">
            <p align="center" style="font-size: 30px;">Работа Javascript на сайте http://strikepro.ru обязательна! Пожалуйста, включите Javascript!</p>
        </div>
    </noscript>
    <?php echo $this->partial('site/bootstrap-layout-nav.phtml', array()); ?>
    <div class="container content-body" role="main">
        <?php echo $this->partial('site/bootstrap-layout-breadcrumb.phtml',
                                    array('catalog_object' => $this->catalog_object, 'path' => $this->path)); ?>
        <div class="container-fluid" style="margin-top:20px;">
            <?php echo $this->layout()->content; ?>
        </div>
        <div id="push"></div>
    </div>
    <footer id="footer">
        <div class="container">
            <hr>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"><span>2016 © ООО "Страйк Про"</span></div>
                    <div class="col-md-offset-6 col-md-3"><a href="<?php echo $this->baseUrl('termsofuse'); ?>">Пользовательское соглашение</a></div>
                </div>
            </div>
        </div>
    </footer>
    <?php echo $this->partial('site/bootstrap-layout-js-footer.phtml', array()); ?>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter5007046 = new Ya.Metrika({
                        id:5007046,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/5007046" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>