<?php $this->HeadTitle('Рыболовные приманки'); ?>
<div class="container-fluid" style="margin:0; padding: 0; background-color: transparent;">
	<div class="row" style="margin-top:30px;">
		<h2 class="section-header">Испытайте наши новинки:</h2>
		<div class="col-md-4 col-sm-4">
			<a href="<?php echo $this->baseUrl('catalog/Jumper_DR_90SP'); ?>" class="container-fluid thumbnail" style="width:98%; margin: 0 auto; border:0; background-color:rgba(87, 140, 255, 0.6);">
				<img src="<?php echo $this->baseUrl('upload/strikePro_jumper_dr.png');?>"
						class="img-responsive">
				<div class="caption" style="margin:0;">
					<p class="storefront-font" align="center">Jumper 90 Deep Runner</p>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="<?php echo $this->baseUrl('catalog/Skinny_Wolf_Jr'); ?>" class="container-fluid thumbnail" style="width:98%; margin: 0 auto; border:0; background-color:rgba(181, 220, 1, 0.6);">
				<img src="<?php echo $this->baseUrl('upload/wolfcreek_skinny_wolf.png');?>"
					 class="img-responsive">
				<div class="caption" style="margin:0;">
					<p class="storefront-font" align="center">Skinny Wolf & Skinny Wolf Jr.</p>
				</div>
			</a>
		</div>
		<div class="col-md-4 col-sm-4">
			<a href="<?php echo $this->baseUrl('catalog/Tornado_Vibe_65'); ?>" class="container-fluid thumbnail" style="width:98%; margin: 0 auto; border:0; background-color:rgba(255, 51, 56, 0.73);">
				<img src="<?php echo $this->baseUrl('upload/strike_pro_tornado_vibe_65.png'); ?>"
					 class="img-responsive">
				<div class="caption" style="margin:0;">
					<p class="storefront-font" align="center">Tornado Vibe 65</p>
				</div>
			</a>
		</div>
	</div>
</div>