<?php
$this->HeadTitle('Контакты');
?>

<h1 class="content-header">Контакты</h1>
<br><br>
<div class="row">
	<div class="col-md-6">

		<div class="panel panel-default">
			<div class="panel-body">
				<h2 class="section-header">Интернет-Магазин</h2>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<p><strong>Индивидуальный предприниматель Грошев Р.Ю</strong></p>
						<p>РФ, 198260, г. Санкт-Петербург, пр. Ветеранов, д.78</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-3">
						<p class="text-center"><i style="color:black" class="fa fa-2x fa-clock-o" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-9">
						<p>пн. - пт. с 9 до 17 (по МСК)</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-3">
						<p class="text-center"><i style="color:mediumaquamarine" class="fa fa-2x fa-phone" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-9">
						<p>+7 (981) 878 52 72</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-3">
						<p class="text-center"><i style="color:goldenrod" class="fa fa-2x fa-envelope-o" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-9">
						<p>shop@strikepro.ru</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-3">
						<p class="text-center"><i style="color:orangered" class="fa fa-2x fa-question-circle-o" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-9">
						<a type="buttom" class="btn btn-link" href="<?php echo $this->baseUrl('feedback/shop'); ?>">Обратная связь</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2 class="section-header">Представительство Strike Pro Таможенный Союз</h2>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<p><strong>ООО "Страйк Про"</strong></p>
						<p>РФ, 196128, г. Санкт-Петербург, ул. Кузнецовская, д.13</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-4">
						<p class="text-center"><i style="color:black" class="fa fa-2x fa-clock-o" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-8">
						<p>пн. - пт. с 9 до 17 (по МСК)</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-4">
						<p class="text-center"><i style="color:mediumaquamarine" class="fa fa-2x fa-phone" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-8">
						<p>+7 (812) 369 23 43</p>
						<p>+7 (812) 369 15 47</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-4">
						<p class="text-center"><i style="color:goldenrod" class="fa fa-2x fa-envelope-o" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-8">
						<p>sale@strikepro.ru</p>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<div class="col-md-4">
						<p class="text-center"><i style="color:orangered" class="fa fa-2x fa-group" aria-hidden="true"></i></p>
					</div>
					<div class="col-md-8">
						<a type="buttom" class="btn btn-link" href="<?php echo $this->baseUrl('feedback/partner'); ?>">Заполнить анкету партнера</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

