<?php
	if($this->feed['status'] == 1){
		$status = "<span style='color:green;'>обратано</span>";
	}
	else {
		$status = "<span style='color:red;'>в обработке</span>";
	}
	
	if($this->feed['department_id'] == 1) {
		$num = '#IM-'.$this->feed['id'];
	}
	if($this->feed['department_id'] == 2) {
		$num = '#OPT-'.$this->feed['id'];
	}
	if($this->feed['department_id'] == 3) {
		$num = '#ADS-'.$this->feed['id'];
	}
	if($this->feed['department_id'] == 4) {
		$num = '#WEB-'.$this->feed['id'];
	}
	if($this->feed['department_id'] == 5) {
		$num = '#OTH-'.$this->feed['id'];
	}
?>
<div style="margin-left:30px; margin-top:10px;">
<h1 style="font: 26px 'Calibri Light Italic'; color: rgb(113, 178, 32);">Просмотр состояния обращения</h1>
<p style="font: 18px 'Calibri Light Italic'; color: #515151;">Номер обращения:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $num; ?></b></p>
<p style="font: 18px 'Calibri Light Italic'; color: #515151;">Статус сообщения:&nbsp;&nbsp;&nbsp;<?php echo $status; ?></p>
</div>