<?php
$this->HeadTitle('Доставка');
?>

<h1 class="content-header">Варианты доставки</h1>
<br><br>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <img style="width:120px;" src="<?php echo $this->baseUrl('images/logo-rp.png'); ?>" class="img-responsive" style="margin:0 auto;">
            </div>
            <div class="col-md-9">
                <h2 class="section-header">Почта России</h2>
                <hr>
                <p>Мы бережно упаковываем и отправляем ваши приманки Почтой России.
                    За время нашей работы все наши клиенты получили отправления вовремя и в указанные Почтой России сроки.
                    Когда посылка будет отправлена, наш менеджер отправить вам на почту трек-номер отправления, с помошью которого,
                    вы с легкостью сможете контролировать, где сейчас находятся ваши приманки.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-3">
                <p class="text-right"><i class="fa fa-5x fa-car" style="color:yellowgreen   ;"></i></p>
            </div>
            <div class="col-md-9">
                <h2 class="section-header">Курьерская доставка по Санкт-Петеребургу</h2>
                <hr>
                <p>Мы доставляем ваши приманки на следующий рабочий день, после совершения заказа.
                    Перед выездом в ваш адрес, курьер обязательно отзвонится и уточнит время своего прибытия.</p>
            </div>
        </div>
    </div>
</div>