<?php
$this->HeadTitle('Способы оплаты');
?>

<h1 class="content-header">Способы оплаты</h1>
<br><br>
<div class="row">
	<div class="col-md-6">
		<img style="margin:0 auto; width:300px;" src="<?php echo $this->baseUrl('images/rbk_money_big.png');?>" class="img-responsive">
	</div>
	<div class="col-md-6">
		<p class="section-header" style="margin-top:40px;">Мы доверили RBK Money получать платежи за наши приманки. <br> Это безопасно, множество способов оплаты,
			круглосуточная служба поддержки. 3 года безупречного сотрудничества.</p>
	</div>
</div>
<hr>
<div class="row" style="margin-top:80px;">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3">
				<p class="text-right"><i class="fa fa-5x fa-credit-card" style="color:red;"></i></p>
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Банковские карты</p>
				<hr>
				<p class="text-left">Вы можете оплатить покупки картами международных платежных систем Visa International, MasterCard Worldwide и «Мир».</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3">
				<p class="text-right"><i class="fa fa-5x fa-terminal" style="color:darkseagreen"></i></p>
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Платежные терминалы</p>
				<hr>
				<p class="text-left">Произвести оплату с помощью терминалов Элекснет, DeltaPay, ComePay, Rapida, Евросеть.</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top:60px;">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3">
				<p class="text-right"><i class="fa fa-5x fa-bank" style="color:darkgoldenrod"></i></p>
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Банковский перевод</p>
				<hr>
				<p class="text-left">Оплатить счет можно в отделении любого банка России. За осуществление перевода взимается комиссия в соответствии с тарифами банка.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-3">
				<p class="text-right"><i class="fa fa-5x fa-mobile" style="color:darkmagenta"></i></p>
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Салон сотовой связи</p>
				<hr>
				<p class="text-left">Вы можете оплатить счет RBK Money в любом салоне связи Евросеть, Связной, МобилЭлемент, Альт Телеком моментально и без комиссии.</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top:60px;">
	<div class="col-md-6">
		<div class="row" style="margin-top:60px;">
			<div class="col-md-3">
				<p class="text-right"><i class="fa fa-5x fa-desktop" style="color:black"></i></p>
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Интернет-Банкинг</p>
				<hr>
				<p class="text-left">Не отходя от компьютера вы можете в любой момент оплатить счет с вашего банковского счета по реквизитам.</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row" style="margin-top:60px;">
			<div class="col-md-3">
				<img align="right" src="<?php echo $this->baseUrl('images/rbk_money_big.png'); ?>" class="img-responsive" style="margin:0;">
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Кошелек RBK Money</p>
				<hr>
				<p class="text-left">Покупка может быть оплачена с кошелька RBK Money.</p>
			</div>
		</div>
	</div>
</div>
<div class="row" style="margin-top:60px;">
	<div class="col-md-6">
		<div class="row" style="margin-top:60px;">
			<div class="col-md-3">
				<img align="right" src="<?php echo $this->baseUrl('images/russianpost.png'); ?>" class="img-responsive" style="margin:0;">
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Почта России</p>
				<hr>
				<p class="text-left">Вы можете оплатить счет RBK Money в отделениях почтовой связи на всей территории Российской Федерации: быстро и без комиссии.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row" style="margin-top:60px;">
			<div class="col-md-3">
				<img align="right" src="<?php echo $this->baseUrl('images/contact_money_transfer.jpg'); ?>" class="img-responsive" style="margin:0;">
			</div>
			<div class="col-md-9">
				<p class="section-header text-left">Денежные переводы CONTACT</p>
				<hr>
				<p class="text-left">Оплата счет RBK Money через крупнейшую систему денежных переводов, доступную во многих городах Российской Федерации. Комиссия за перевод составляет 0%.</p>
			</div>
		</div>
	</div>
</div>