<?php
    $config = new Zend_Config_Ini('../application/configs/application.ini', 'production');
?>

<?php
$this->HeadTitle('Показать заказ');
?>

<?php
    if( !defined($this->messagesubclass) ) {
        
    	$this->messagesubclass = 'info';
    }
    
    if( $this->message ) {
    	
        echo '<div align="center" style="padding:1em;" ><div class="'.($this->messagesubclass).'message">'.($this->message).'</div></div>';
    }
    
if($this->captchaIsEntred){

?>

<div id = "content_header">
<a id = "catalog_nav" href="<?php echo $this->baseUrl(); ?>">Главная страница</a>
<img src="/images/template/forward.png" style="position:relative; top: 2px;">
<a id = "catalog_nav" href="<?php echo $this->baseUrl(); ?>/order/">Просмотр Заказа</a>
</div>

    <h1>Информация о заказе #<?php echo $this->FormatOrderNum(htmlspecialchars($this->order_data['order_contacts']['order_id'])) ; ?></h1>
    <br />
    <p>
        
        <b>Дата заказа</b>: <i class="b"><?php echo htmlspecialchars($this->order_data['order_contacts']['ins_fmt']) ; ?></i><br />
        Постоянная ссылка заказа: <a href="<?php echo ($config->resources->frontController->baseUrl).'/order/'.htmlspecialchars($this->order_data['order_contacts']['order_id']) ; ?>">
        							<?php echo ($config->resources->frontController->baseUrl).'/order/'.htmlspecialchars($this->order_data['order_contacts']['order_id']) ; ?>
        							</a><br />
        <br /><br />
        <?php if(!empty($this->order_data['order_contacts']['fio'])){ ?>ФИО: <i>скрыты</i><br /><?php } ?>
        <?php if(!empty($this->order_data['order_contacts']['phone'])){ ?>Телефон: <i>скрыт</i><br /><?php } ?>
        <?php if(!empty($this->order_data['order_contacts']['email'])){ ?>E-mail: <i>скрыт</i><br /><?php } ?>
        <br />
        
        Содержимое заказа:<br />
        
        <?php 
        if(is_array($this->order_data['order_products']) && count($this->order_data['order_products'])){
            $rowcnt = 1;
            $summ = 0;
            ?>
               <table class="w100 cellable_tbl" id="cart_products_table">
                <tr style="height: 25px;">
                    <th class="lmal">
                     &nbsp;
                    </th>
                    <th class="lmal">
                        &nbsp;Артикул
                    </th>
                    <th class="lmal">
                        &nbsp;Наименование
                    </th>
                    <th class="lmal">
                        &nbsp;Кол-во
                    </th>
                    <th class="lmal">
                        &nbsp;Цена
                    </th>
                    <th class="lmal">
                        &nbsp;Итого
                    </th>
                </tr>
                <?php
                foreach ($this->order_data['order_products'] AS $productrow){
                    
					
				?>
                    
                     <tr id="product_row_<?php echo $rowcnt ; ?>" <?php if(!intval($productrow['product_count'])){ echo ' class="zerocount" ';} ?> style="height: 80px;">
                    
                    <td class = "lmal">
						
						<?php if( $productrow['article_image'] && file_exists($config->basepath . '/images/catalog/'.str_replace('\\', '/', $productrow['article_image']) )){?>
							
							<a href="/catalog/<?php echo ( $productrow['cat_link'] ) . '?art=' . (htmlspecialchars ( $productrow['product_art'] ) ) ?>">
                                
                                <img style="width:100px;" src = "<?php  echo $this->baseUrl();?>/images/catalog/<?php echo str_replace('\\', '/', $productrow['article_image']); ?>">
                            </a>
                            
                            <p style=" margin-left:20px; font: normal 10px Verdana; color: #6a6a6a;"><?php if($productrow['article_code']){ echo $productrow['article_code']; }?></p>
						
						<?php } ?>
                    
                    </td>
                    
                    <td class="lmal">
						
						<p style="font: normal 12px Arial;"><?php echo $this->escape($productrow['product_art']) ; ?></p>
                    
                    </td>
                    
                    <td class="lmal">
                    
                        <?php
                            
                        	$productrow['fullname_fmt'] = ($productrow['article_code'])? $productrow['article_code']:'';
                            
                            if($productrow['article_name']) {
                                
                            	$productrow['fullname_fmt'] .= ' '.$productrow['article_name'];
                            }
                            
                            // 25-04-13 ALEX TARAN
                            // Если это доставка выводим слово доставка и убиваем ссылку
                            if ($productrow['product_art'] !== 'DLVR-001') {
                            	
								echo '<a style="font: normal 12px Arial; color:darkblue;" href="/catalog/'.( $productrow['cat_link'] )
									. '?art='.(htmlspecialchars($productrow['product_art'])).'">'
								.(htmlspecialchars($productrow['fullname_fmt']))
                            	.'</a>';
                            }
                            else {
								$productrow['product_art'] = 'DLVR-001';
                            	$productrow['fullname_fmt'] = 'Доставка';
                            	$productrow['art_price'] = $productrow['product_price'];
								echo (htmlspecialchars($productrow['fullname_fmt']));
							}
							
                        ?>
                    
                    </td>
                    
                    <td class="lmal">
                    
                        <p style="font: normal 12px Arial;"><?php echo $productrow['product_count'] ; ?></p>
                        
                    </td>
                    
                    <td class="lmal">
                    
                        <p class = "standart_text" style="font: normal 12px Arial;"><?php echo $this->FormatPrice($productrow['art_price']) ; ?>р.</p>
                    
                    </td>
                    
					<td class="lmal">
					
						<?php echo $this->FormatPrice($productrow['product_total']) ; ?>р.
					
					</td>
                </tr>
                
                
                
                    <?php
                    $rowcnt++;
                }
                ?>
                    <tr>
                        <td colspan="6" class="rmal">
                            <div align="center"><hr class="w80" /></div>
                            Итого: <b><?php echo $this->FormatPrice($this->order_data['order_contacts']['total']); ?>р.</b>&nbsp;
                        </td>
                    </tr>
                </table>
        <?php 
        
        }
        else {
        	
        	echo 'Товары по заказу не найдены.';
        } 
        
        ?>
        
        <br /><br />

<?php if (!$this->outdated_order): ?>
        <form action="<?php echo htmlspecialchars($this->rbcmoney['payurl']) ; ?>" method="post" accept-charset="utf-8" onSubmit="javascript:return true;">
            <input type="hidden" name="eshopId" value="<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
            <input type="hidden" name="orderId" value="<?php echo htmlspecialchars($this->rbcmoney['orderId']) ; ?>" />
            <input type="hidden" name="serviceName" value="Заказ #<?php echo htmlspecialchars($this->rbcmoney['orderId']) ; ?>" />
            <input type="hidden" name="recipientAmount" value="<?php echo htmlspecialchars($this->rbcmoney['orderAmount']) ; ?>" />
            <input type="hidden" name="recipientCurrency" value="<?php echo htmlspecialchars($this->rbcmoney['currency']) ; ?>" />
            <input type="hidden" name="successUrl" value="<?php echo htmlspecialchars($this->rbcmoney['successUrl']) ; ?>?order_id=<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
            <input type="hidden" name="failUrl" value="<?php echo htmlspecialchars($this->rbcmoney['failUrl']) ; ?>?order_id=<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
            <input type="hidden" name="user_email" value="<?php echo htmlspecialchars($this->rbcmoney['user_email']) ; ?>" />

            <?php
            
                $product_arts=str_split($this->rbcmoney['product_arts'], 250); 
                $art_count = 1;
                
                foreach ($product_arts as $product_art) {
            ?>
                    <input type="hidden" name="userField_<?php echo $art_count; ?>" value="<?php echo htmlspecialchars($product_art) ; ?>" />
            <?php 
                    $art_count++;
                }
            ?>
            <i>Если вы ещё не платили за заказ, или заплатили не полностью, нажмите пожалуйста на кнопку &quot;Возобновить оплату&quot;.</i>
            <br />
            <div align="right"><input type="submit" name="button" value="Возобновить оплату" /></div>
        </form>
<?php endif; ?>
		
<?php if ($this->outdated_order): ?>
		
		<p align="center"><i>Некоторые товары более недоступны для заказа. Пожалуйста, сформируйте новый заказ.</i></p><br>
	
<?php endif; ?>
        
        
        
    </p>
<?php 
}
else{
    ?>
       <form action="/order/<?php echo $this->escape($this->order_id); ?>?rnd=<?php echo rand(10000, 99999); ?>" method="post" accept-charset="utf-8" onSubmit="javascript:return true;" name="capt">
            Антиспам - Проверка:<br />
            <div class="lual">
                <input type="hidden" name="captcha[id]" value="<?php echo $this->escape($this->captchaid); ?>" />
                <span class="fl ctal p5">
                    <label for="captcha_input" <?php if(array_key_exists('captcha', $this->formerrors) && $this->formerrors['captcha']){echo ' class="r" ';} ?>><sup class="r">(*)</sup> Введите, пожалуйста, символы с изображения <sup class="r">(*)</sup>:</label> <br />
                    ========&gt;&nbsp;&nbsp;<input type="text" name="captcha[input]" id="captcha_input" size="5" value="" maxlength="8"/>&nbsp;&nbsp;&lt;========
                </span>
                <a onClick="javascript:updCaptcha(this);return false;" title="Обновить изображение" href="/cart/preorder?rnd=<?php echo rand(10000, 99999); ?>"><img src="/images/captchas/<?php echo $this->escape($this->captchaid); ?>.png" width="200" height="100" border="0"/></a>
            </div>
            
			<br/><br/>
	
			<input type="submit" value="посмотреть заказ" style="position: relative; left: 300px;">
       </form>
    <?php
}
?>

<script type="text/javascript">
	document.forms['capt'].elements['captcha[input]'].focus();
</script>
