<?php
$this->HeadTitle('Очистить корзину');
?>

<h2>Подтвердите удаление всех товаров из корзины</h2><br />
<a href="/cart/emptycart"><input type="button" value="Да, очистить корзину от товаров" /></a>

