﻿<?php
    $config = new Zend_Config_Ini('../application/configs/application.ini', 'production');
?>
<?php
$this->HeadTitle('Ваш заказ оформлен');
?>
<div>
<h1 class="content-header">Заказ сохранен, перенаправление на платежную систему.</h1>
    <br>
    <p><strong>Номер заказа: #<?php echo $this->FormatOrderNum(htmlspecialchars($this->rbcmoney['orderId'])) ; ?></strong></p>
    <br>
    <p>Постоянная ссылка на заказ: <a target="_blank" href="<?php echo $this->baseUrl('order/' . htmlspecialchars($this->rbcmoney['orderId']) ); ?>">
        <?php echo $this->baseUrl('order/'. htmlspecialchars($this->rbcmoney['orderId'])); ?></a></p>
    <br>
<form id="submit_to_payment_form" action="<?php echo htmlspecialchars($this->rbcmoney['payurl']) ; ?>" method="post" accept-charset="utf-8">
    <input type="hidden" name="eshopId" value="<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
    <input type="hidden" name="orderId" value="<?php echo htmlspecialchars($this->rbcmoney['orderId']) ; ?>" />
    <input type="hidden" name="serviceName" value="Заказ #<?php echo $this->FormatOrderNum(htmlspecialchars($this->rbcmoney['orderId'])); ?>" />
    <input type="hidden" name="recipientAmount" value="<?php echo htmlspecialchars($this->rbcmoney['orderAmount']) ; ?>" />
    <input type="hidden" name="recipientCurrency" value="<?php echo htmlspecialchars($this->rbcmoney['currency']) ; ?>" />
    <input type="hidden" name="successUrl" value="<?php echo htmlspecialchars($this->rbcmoney['successUrl']) ; ?>?order_id=<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
    <input type="hidden" name="failUrl" value="<?php echo htmlspecialchars($this->rbcmoney['failUrl']) ; ?>?order_id=<?php echo htmlspecialchars($this->rbcmoney['eshopId']) ; ?>" />
    <input type="hidden" name="user_email" value="<?php echo htmlspecialchars($this->rbcmoney['user_email']) ; ?>" />

    <?php
        $product_arts = str_split($this->rbcmoney['product_arts'], 250);
        $art_count = 1;
        foreach ($product_arts as $product_art) {
    ?>
            <input type="hidden" name="userField_<?php echo $art_count; ?>" value="<?php echo htmlspecialchars($product_art) ; ?>" />
    <?php
            $art_count++;
        }
    ?>
    <i>Перенаправление на платежную систему произойдёт в течение 10 секунд, <br />
    если перенаправление не происходит, нажмите пожалуйста на кнопку &quot;оплатить&quot;.</i>
    <br />
    <div align="right"><input type="submit" name="button" value="Оплатить" /></div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#submit_to_payment_form').submit();
        }, 10000);
    });
</script>
</div>