<?php
$this->HeadTitle('Ошибка платежа');
?>
<h1 class="content-header">Счет не оплачен :(</h1>
<br>
<p>Платежная система сообщила нам о том, что оплата по вашему счету не прошла.</p>
<p>Пожалуйста, свяжитесь со службой поддержки RBK Money по телефону 8 800 200 88 20 (звонок по России бесплатный).</p>
<br>
<p>C уважением, команда StrikePro Россия.</p>