<div class="container-fluid">
    <h1 class="content-header">Каталог</h1>
    <ul class="list-group">
        <?php foreach ($this->catalog_object->child_objects AS $item): ?>
        <li class="list-group-item">
            <a href="<?php echo $this->baseUrl('product/'. $item->cat_code); ?>">
            <?php echo $item->cat_name; ?>
            </a>
        </li>
        <?php endforeach; ?>
    </ul>
</div>