<div class="container-fluid">
    <h1 class="content-header"><?php echo $this->catalog_object->cat_name; ?> (<?php echo $this->catalog_object->cat_codename; ?>)</h1>
    <div class="container-fluid" style="margin:50px 0px 0px 0px; padding:0px;">
        <h2 class="section-header">Старые характиристики:</h2>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>код модели</th>
                        <th>плавучесть</th>
                        <th>длина</th>
                        <th>вес</th>
                        <th>загл. min</th>
                        <th>загл. мax</th>
                        <th>крючок</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?php echo $this->catalog_object->cat_codename; ?></td>
                        <td><?php echo $this->catalog_object->cat_type1; ?></td>
                        <td><?php echo $this->catalog_object->cat_length; ?></td>
                        <td><?php echo $this->catalog_object->cat_weight; ?></td>
                        <td><?php echo $this->catalog_object->cat_depth_min; ?></td>
                        <td><?php echo $this->catalog_object->cat_depth_max; ?></td>
                        <td><?php echo $this->catalog_object->cat_hook_name . ' ' .  $this->catalog_object->cat_hook_type;?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid" style="padding:0; margin-top:20px;">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-toggle="tab" role="tab" href="#fs">Характеристики</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" href="#ds">Описание</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" href="#is">Изображения</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" href="#ps">Фотографии</a></li>
            <li role="presentation"><a data-toggle="tab" role="tab" href="#ss">360</a></li>
        </ul>
        <div class="tab-content" style="margin-top:30px;">
            <div role="tabpanel" id="fs" class="tab-pane fade in active">
                <h2 class="section-header">Характеристики</h2>
                <form class="form-horizontal" method="post" role="form" id="form-features" action="<?php echo $this->baseUrl('product/update-features'); ?>">
                    <input type="hidden" name="cat_code" value="<?php echo $this->catalog_object->cat_code; ?>">
                    <?php foreach ($this->catalog_object->features AS $feature) : ?>
                        <div class="form-group">
                            <label class="control-label col-sm-3"  for="<?php echo $feature->features_id; ?>"><?php echo $feature->title; ?></label>
                            <div class="col-sm-1">
                                <i class="fa fa-question-circle-o fa-1x feature-info"
                                   aria-hidden="true"
                                   data-toggle="popover"
                                   data-placement="right"
                                   data-trigger="hover"
                                   data-content="<?php echo $feature->description; ?>"></i>
                            </div>
                            <div class="col-sm-1">
                                <?php if($feature->measurement) :?>
                                    <p style="font-size: 12px; position:relative;top:8px;">(<?php echo $feature->measurement; ?>.)</p>
                                <?php endif; ?>
                            </div>
                            <div class="col-sm-7">
                                <input type="text"
                                       class="form-control"
                                       id="<?php echo $feature->features_id; ?>"
                                       name="<?php echo $feature->features_id; ?>"
                                       value="<?php echo $feature->value; ?>">
                            </div>
                        </div>
                    <?php endforeach; ?>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-7">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="ds" class="tab-pane fade">
                <h2 class="section-header">Описание</h2>
                <form class="form-horizontal" method="post" role="form" id="form-description" action="<?php echo $this->baseUrl('product/update-description'); ?>">
                    <input type="hidden" name="cat_code" value="<?php echo $this->catalog_object->cat_code; ?>">
                    <div class="form-group">
                        <label class="control-label col-sm-2"  for="description">Описание:</label>
                        <div class="col-sm-1">
                            <i class="fa fa-question-circle-o fa-1x feature-info"
                               aria-hidden="true"
                               data-toggle="popover"
                               data-placement="right"
                               data-trigger="hover"
                               data-content="Подробное описание товара (назначение, особенности, приимущества)"></i>
                        </div>
                        <div class="col-sm-9">
                            <textarea type="text"
                                   class="form-control"
                                   id="description"
                                   name="description">
                                <?php echo $this->catalog_object->cat_description; ?>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="is" class="tab-pane fade">
                <h2 class="section-header">Ракурсные изображения</h2>
                <div class="container-fluid" id="cfi">
                    <?php if(count($this->catalog_object->images) > 0) : ?>
                        <?php echo $this->getObjectImage($this->catalog_object->cat_code); ?>
                    <?php endif; ?>
                    <?php if(count($this->catalog_object->images) <= 0) : ?>
                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
                            <span>Изображений к этому продукту не обнаружено!</span>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="container-fluid">
                    <div class="jumbotron text-center" id="dragbox" style="min-height:250px; border-width:5px; border-color:white; border-style:dashed;">
                        <span style="font-size:26px; padding-left:5px;vertical-align:middle;">Перетащите изображение в эту область.</span><br>
                        <input type="button" id="upload-btn" class="btn btn-success btn-large clearfix" value="Или нажмите сюда">
                        <span style="padding-left:5px;vertical-align:middle;"><i>PNG, JPG, or GIF (1024K максимальный размер файла)</i></span>
                        <div id="progressBox"></div>
                        <div class="clear-line" style="margin-top:10px;"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" id="ps" class="tab-pane fade">
                <h2 class="section-header">Фотографии</h2>
                <div class="container-fluid" id="cfp">
                    <?php if(count($this->catalog_object->photo) > 0) : ?>
                        <?php echo $this->getObjectPhoto($this->catalog_object->cat_code); ?>
                    <?php endif; ?>
                    <?php if(count($this->catalog_object->photo) <= 0) : ?>
                        <div class="alert alert-warning alert-dismissible fade in" role="alert">
                            <span>Фотографий к этому продукту не обнаружено!</span>
                        </div>
                    <?php endif; ?>
                </div>

                <div class="container-fluid">
                    <div class="jumbotron text-center" id="dragbox-photo" style="min-height:250px; border-width:5px; border-color:white; border-style:dashed;">
                        <span style="font-size:26px; padding-left:5px;vertical-align:middle;">Перетащите фотографии в эту область.</span><br>
                        <input type="button" id="upload-btn-photo" class="btn btn-success btn-large clearfix" value="Или нажмите сюда">
                        <span style="padding-left:5px;vertical-align:middle;"><i>PNG, JPG, or GIF (1024K максимальный размер файла)</i></span>
                        <div id="progressBox-photo"></div>
                        <div class="clear-line" style="margin-top:10px;"></div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" id="ss" class="tab-pane fade">
                <h2 class="section-header">Вращалка</h2>
            </div>
        </div>
    </div>
</div>


<!-- DELETE MODAL -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Удаление изображения</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить изображение?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button id="confirm_delete_image" type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Редактирование описания изображения:</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="image-alt" name="alt" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button id="confirm_edit_image" type="button" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<!-- DELETE Photo MODAL -->
<div class="modal fade" id="deletePhotoModal" tabindex="-1" role="dialog" aria-labelledby="deletePhotoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deletePhotoModalLabel">Удаление фотографии</h4>
            </div>
            <div class="modal-body">
                <p>Вы действительно хотите удалить фотографию?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button id="confirm_delete_photo" type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT photo MODAL -->
<div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog" aria-labelledby="editPhotoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editPhotoModalLabel">Редактирование описания фотографии:</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" type="text" id="photo-alt" name="alt" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button id="confirm_edit_photo" type="button" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</div>