<?php echo $this->doctype("XHTML1_STRICT") . "\n"; ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        
        <?php $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');?>
        <?php $this->headMeta()->appendName('keywords', 'Strike Pro, Воблер, Балансир, Спиннинг, Леска, Удилище, Рыбалка');?>
        <?php echo $this->headMeta(); ?>
        
        
        <?php $this->headTitle('Strike Pro - Воблеры, Спиннинги, Блесна, Балансиры, Леска, Шнуры'); ?>
        <?php $this->headTitle()->setSeparator(' - '); ?>
        <?php echo $this->headTitle();?>
        
        
	<?php $this->headLink()->prependStylesheet($this->baseUrl().'/styles/wss_main.css'); ?>
        <?php $this->headLink()->prependStylesheet($this->baseUrl().'/styles/minibar.css'); ?>
        <?php $this->headLink()->prependStylesheet($this->baseUrl().'/styles/slidebar.css'); ?>
        <?php $this->headLink()->prependStylesheet($this->baseUrl().'/styles/style1.css'); ?>
        <?php $this->headLink()->prependStylesheet($this->baseUrl().'/styles/reset.css'); ?>
        <?php $this->headLink()->prependStylesheet($this->baseUrl().'/styles/jquery.jgrowl.css'); ?>
        <?php $this->headLink()->prependStylesheet($this->baseUrl().'/fp/skin/minimalist.css'); ?>

        
        <?php echo $this->headLink();?>
        
        <?php
        	$this->headScript()->appendFile($this->baseUrl().'/js/jquery-1.9.1.js');
            $this->headScript()->appendFile($this->baseUrl().'/js/jquery.AddIncSearch.js');
            $this->headScript()->appendFile($this->baseUrl().'/js/jquery.jgrowl.js');
            $this->headScript()->appendFile($this->baseUrl().'/js/wss_main.js');
            $this->headScript()->appendFile($this->baseUrl().'/fp/flowplayer.js');
			$this->headScript()->appendFile($this->baseUrl().'/js/slides.min.jquery.js');
			$this->headScript()->appendFile($this->baseUrl().'/js/sliding_effect.js');
			

				$this->headScript()->appendFile($this->baseUrl().'/js/formee.js');
				$this->headScript()->appendFile($this->baseUrl().'/js/jquery.validate.js');
				$this->headScript()->appendFile($this->baseUrl().'/js/validateform.js');

			echo $this->headScript();
		?>

        <script type="text/javascript">
                $(function(){
                $('#slides').slides({
                    preload: true,
                    preloadImage: '/images/template/loading.gif',
                    play: 6000,
                    pause: 300,
                    hoverPause: false
                });
            });
        </script>
        <script type="text/javascript">
            //wss
            $(document).ready(function(){
                $('head').data('site_url', '<?php echo $this->JsEscape($this->baseUrl()); ?>');
            });
        </script>
    </head>
    
<body>
<div id="container">
        
        <div id = "header">
            	
            	<div id = "logo">
                	<a href =  "<?php echo $this->baseUrl(); ?>"><img src = "/images/template/logo.png"></a>
            	</div>
            	
            	<div class = "headblock">
            	
            		<p class="headblockTitle" align="center">Телефон интернет-магазина</p>
            		<p id="phone" align="center" style="font:22px 'Calibri Light Italic'; color:rgb(113, 178, 32); margin-bottom: 8px; margin-top:8px;">+7 (981) 878 52 72</p>
            		<p id="worktime" align="center" style="font:14px 'Calibri Light Italic', serif; color:#9a9a9a;">Пн.-Пт. с 11-00 до 17-00 (МСК)</p>
            	
            	</div>
            	
            	<div class = "headblock" style="width:340px; margin-right:0px;">
            	
            		<p class="headblockTitle" align="center">В корзине покупок:</p>
            		
            		<div id='cartblock_parent'>
                		<?php echo $this->DisplayCart(); ?>
            		</div>
            		
            	</div>
            	
            	<div style="clear:both;"></div>
            	
            	<div id="main_menu">
	                <ul>
	                	<li><a href = "<?php echo $this->baseUrl(); ?>/company/">О компании</a></li>
	                    <li><a href = "<?php echo $this->baseUrl(); ?>/catalog/">Каталог продукции</a></li>
	                    <li><a href = "<?php echo $this->baseUrl(); ?>/payment_delivery/">Интернет-Магазин</a></li>
	                    <li><a href = "<?php echo $this->baseUrl(); ?>/feedback/">Контакты</a></li>
	                </ul>
				</div>
				
				<div style="clear:both;"></div>
        
        </div>

		        
        <div class = "content">
            <?php echo $this->layout()->content;?>
        </div>
        
        <div id ="footer" style="min-height:50px; height:50px; padding-left:20px; padding-right:20px; position:relative; bottom: 2px;">
        	<div style="float:left;"><img src="/images/template/rbkmoney.jpg"></div>
        	<div style="float:left; margin-left:20px;"><img src="/images/template/paidsystems.png"></div>
        	<div style="float:left; margin-top:18px; position:relative; left:150px;"><p style="font-size:12px;"><a href="http://strikepro.ru/termsofuse/">Пользовательское соглашение</a>&nbsp;&nbsp;|&nbsp;&nbsp;Все права защищены. © 2011 «Strike Pro Россия»</p></div>        
        	
        	<div style="clear:both;"></div>
        </div>
        
    	
	    <div>
	    	<div id="ajax_indicator_canvas" class="iv"></div>
	        <div id="tmp_div" class="iv">&nbsp;</div>  
	    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter5007046 = new Ya.Metrika({
                    id:5007046,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/5007046" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>
