<?php
$this->headLink()->appendStylesheet($this->baseUrl('vendor/application/css/directory.css'));
?>
<?php
$this->HeadTitle($this->catalog_object->cat_name);
?>

<h1 class="content-header">
    <?php echo $this->catalog_object->cat_name; ?>
</h1>
<br>
<div class="row list-group">
    <?php foreach($this->catalog_object->child_objects AS $child_object) : ?>
        <div class="item  col-xs-12 col-md-4">
            <a class="thumbnail" href="<?php echo $this->baseUrl('catalog/'. $child_object->cat_link); ?>">
                <?php if (@$child_object->cat_new == 1): ?>
                    <span style="font-size: 14px; position:absolute; top: 10px; right:30px;" class="label label-danger">new</span>
                <?php endif; ?>
                <img style="height:135px; margin: 0 auto;" class="group list-group-image img-responsive" src="<?php echo $this->baseUrl('/images/catalog/'. $child_object->cat_image); ?>" alt="" />
                <hr>
                <div class="caption">
                    <h4 align="center" class="group inner list-group-item-heading">
                        <?php echo $child_object->cat_name; ?></h4>
                    <p align="center" class="group inner list-group-item-text">
						<?php if(isset($child_object->cat_codename)): ?>
						(<?php echo $child_object->cat_codename; ?>)
						<?php endif; ?>
                    </p>
                </div>
            </a>
        </div>
    <?php endforeach; ?>
</div>