<div class="modal fade" id="MyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" style="padding:4px;">
                        <ul id="product-info-labels">
                            <li class="label label-success">модель: <span id="product-model-name"><?php echo $this->catalog_object->cat_name; ?></span></li>
                            <li class="label label-default">артикул: <span id="product-article"></span></li>
                            <li class="label label-info">код: <span id="product-code"></span></li>
                            <li class="label label-warning">цвет: <span id="product-color"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-fluid" id="product-image-container">
                            <img id="loader_image" src="/images/loading.gif" style="display: none;"/>
                            <img id="product-image" class="img-responsive"/>
                        </div>
                    </div>
                </div>

                <!-- START BASKET HERE -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="container-fluid" style="margin:0 auto;">
                            <img class="img-responsive img-rounded" style="width:80%;" src="/images/strikepro-online-store-logo.jpg">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <span style="font-size: 1.3em; color:#b8860b">Цена: <span id="product-price"></span> руб.</span>
                    </div>
                    <div id="cart-block" class="col-md-5" style="height:60px;">
                        <form id="addtocartform" action="/cart/addproduct" method="post" accept-charset="utf-8" class="pull-right">

                            <input id="art" type="hidden" value="" name="art"/>

                            <span onclick="javascript:itemplusminus(-1);"
                                  style="cursor:pointer; color:#d3d3d3;" class="glyphicon glyphicon-minus"></span>

                            <input id="quantity"
                                   name="qty"
                                   value="1"
                                   type="text"
                                   style="width:42px;"
                                   align="center"/>

                            <span onclick="javascript:itemplusminus(1);"
                                  style="cursor:pointer; color:#d3d3d3;" class="glyphicon glyphicon-plus"></span>
                            <span>&nbsp;&nbsp;&nbsp;</span>

                            <button style="margin-right:30px;" type="submit" class="btn btn-success">в корзину</button>
                        </form>
                        <div id="out-of-order" class="alert alert-warning" role="alert" style="display:none; margin:0;">Товара в наличии нет</div>
                    </div>
                </div>
                <!-- END BASKET HERE -->

                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <h2 class="section-header">Цветовые решения:</h2>
                    </div>
                </div>
                <div class="row">
                    <?php foreach($this->catalog_object->articles AS $article) :?>
                        <div style="margin-bottom:10px;" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <div data-article = "<?php echo $article->article_art;?>"
                                 data-price = "<?php echo $article->art_price; ?>"
                                 data-insale = "<?php echo $article->art_insale; ?>"
                                 data-code = "<?php echo $article->article_code; ?>"
                                 data-color="<?php echo $article->article_color; ?>"
                                 data-big-image="<?php echo $this->baseUrl('products/' . $this->catalog_object->cat_codename . $article->article_image_big); ?>"
                                 class="ratio img-responsive img-circle"
                                 style="background-size: 700% auto; background-image: url('<?php echo $this->baseUrl('products/' . $this->catalog_object->cat_codename . $article->article_image); ?>')">
                            </div>
                        </div>
                    <?php endforeach;?>
                </div>
            </div>
        </div>
    </div>
</div>