<article>
<div class="row">
    <div class="col-xs-10">
        <h1 class="article-title"><?php echo $this->escape($this->post->title); ?></h1>
        <p class="text-muted"><?php echo $this->escape($this->post->posted_at->format('Y-m-d')); ?></p>
    </div>
</div>

<div class="row" style="margin:20px 4px;">
    <div class="col-xs-12 article-content">
        <p class="text-justify"><?php echo htmlspecialchars_decode($this->post->body); ?></p>
    </div>
</div>
</article>
