﻿<?php $this->HeadTitle('Блог'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl('vendor/application/css/blog.css')); ?>

<div class="row">
    <div class="col-sm-12">
        <h1 class="content-header">Рыболовный блог</h1>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <?php if(count($this->posts) > 0): ?>
        <?php foreach($this->posts AS $post): ?>
        <div class="col-sm-12 col-md-6 blog-container">
            <div class="blog-box" data-link="<?php echo $this->baseUrl('blog/show/' . $post->link); ?>">
<!--                <div class="blog-date">--><?php //echo $post->posted_at->format('Y-m-d'); ?><!--</div>-->
                <img src="<?php echo $post->headimage;?>" class="img-responsive">
                <p class="blog-date"><i class="fa fa-clock-o"></i> <span><?php echo $post->posted_at->format('d-m-Y'); ?></span></p>
                <h2 class="blog-title"><?php echo $post->title;?></h2>
                <p class="blog-description"><?php echo $post->description;?></p>
            </div>
        </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>

<?php $this->HeadScript()->captureStart(); ?>
<?php echo $this->partial('blog/js/blog.js'); ?>
<?php $this->HeadScript()->captureEnd(); ?>


